DataSourcesConverter/flow_config.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--special root tag xs:schema defines xml schema .xsd-->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="flow" type="flowRoot"></xs:element>
	
	<xs:complexType name="flowRoot">
		<xs:sequence>
			<!-- maxOccurs defines how many times a child element may appear -->
			<xs:element maxOccurs="unbounded" name="flowRow" type="flowElement">

			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="flowElement">		
		<xs:sequence>
			<xs:element maxOccurs="1" name="inputType" type="inputTypes" />
			<xs:element maxOccurs="1" name="inputLocation" type="xs:string" />
			<xs:element maxOccurs="1" name="outputType" type="outputTypes" />
			<xs:element maxOccurs="1" name="outputLocation" type="xs:string" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:simpleType name="inputTypes">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Excel File"/>
			<xs:enumeration value="XML File"/>
			<xs:enumeration value="RESTful API"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="outputTypes">
		<xs:restriction base="xs:string">
			<xs:enumeration value="HTML Page"/>
			<xs:enumeration value="RESTful API"/>
		</xs:restriction>
	</xs:simpleType>
	
</xs:schema>